# Telegram bot and backend
python-telegram-bot==20.6
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
google-generativeai
telethon
twscrape
python-socketio
supabase
requests
python-dateutil
google-genai

groq
anthropic
